h1 {
    color: white;
    background: #1a1a19;
}
body {
    background-color: #1a1a19;
    font-family: Arial;
    font-size: 32px;
    color: white;
}
#left {
    margin-top: 50px;
    max-width: 1000px;
    margin-right: 0px;
    text-align: left;
    float: left;
    overflow: auto;
}
#right {
    margin-top: 0px;
    max-width: 1000px;
    margin-right: 0px;
    text-align: right;
    float: right;
    overflow: auto;
}
img {
    /* Comment */
    width: 50%;
}
#things {
    font: Arial Bold;
    font-size: 16px;
}
h3 {
    max-width: 400px;
}
.grow {
    position: absolute;
}
head {
    margin-bottom: 100px;
    text-align: left;
    float: left;
}