h1 {
    color: white;
    background: #1a1a19;
}
body {
    background-color: #1a1a19;
    font-family: Arial;
    font-size: 32px;
    color: white;
}
#left {
    float: left;
}
#right {
    float: right;
}
img {
    /* Comment */
    width: 50%;
}
#things {
    font: Arial Bold;
    font-size: 16px;
}